/* google fonts are loaded in html file */
@import 'tailwindcss';

@theme {
    --font-pacifico: "Pacifico";
    --font-urbanist: "Urbanist";
    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    --color-walnut-dark: #542B00;
    --color-walnut-darker: #3D2000;
    --color-walnut-accent: #D27E19;
    --color-walnut-accent-darker: #A7550D;
    --color-walnut-pale: #FFF5E8;
    --color-walnut-accent-40: rgba(255, 223, 181, 0.4);
}

:root {
    --walnut-dark: #542B00;
    --walnut-darker: #3D2000;
    --walnut-accent: #D27E19;
    --walnut-accent-darker: #A66013;
    --walnut-pale: #FFF5E8;
    --walnut-accent-75: rgba(255, 223, 181, 0.75);
}

/* Hide scrollbars everywhere the class is used */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
