@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&display=swap');
@import 'tailwindcss';

@theme {
    --font-pacifico: "Pacifico";
    --font-lato: "Lato";
    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;
    
    --color-walnut-dark: #542B00;
    --color-walnut-darker: #3D2000;
    --color-walnut-accent: #D27E19;
    --color-walnut-accent-darker: #A66013;
    --color-walnut-pale: #FFF5E8;
    --color-walnut-accent-40: rgba(255, 223, 181, 0.4);

    --animate-spin-slow: 'spin 40s linear infinite';
}

:root {
    --walnut-dark: #542B00;
    --walnut-darker: #3D2000;
    --walnut-accent: #D27E19;
    --walnut-accent-darker: #A66013;
    --walnut-pale: #FFF5E8;
    --walnut-accent-75: rgba(255, 223, 181, 0.75);
}